<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="dbConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\BegASPNET\JustTravel_ASP.NET\App_Data\JustTravel.mdf;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <roleManager enabled="true" />
    <customErrors mode="On" defaultRedirect="~/Errors/Error404.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/Errors/Error404.aspx" />
    </customErrors>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <!--include siteTheme for website-->
    <pages styleSheetTheme="SiteTheme">
    </pages>
  </system.web>
  <system.net>    
    <mailSettings>
      <smtp deliveryMethod="Network" from="Just Travel &lt;help.justtravel@gmail.com&gt;">
        <network enableSsl="true" host="smtp.gmail.com" password="justtravel123" userName="help.justtravel@gmail.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <!-- adding the following for management users-->
  <location path="Management">
    <system.web>
      <authorization>
        <allow roles="Managers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
