<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Errors/OtherErrors.aspx"
        redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/Errors/Error404.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <pages styleSheetTheme="SiteTheme">
    </pages>
    <!-- to include siteTheme for website-->
  </system.web>
  <system.net>    
    <mailSettings>
      <smtp deliveryMethod="Network"  from="Just Travel &lt;help.justtravel@gmail.com&gt;">
        <network enableSsl="true" host="smtp.gmail.com" password="justtravel123" userName="help.justtravel@gmail.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
